In [ ]:
#Crear un sistema que almacene equipos biomédicos, cada equipo tiene información de:
# nombre, marca, ubicación, fecha de calibración ,fecha de mmto ,nombre del proveedor.
#Para ello implementarlo a partir de un dataframe con la información anterior.
#PRIMER EJERCICIO
import pandas as pd

def agregar_equipo(nombre, marca, ubicacion, fecha_calibracion ,fecha_mmto ,nombre_proveedor,Data):
    nuevo_equipo = {"nombre":[nombre], "marca":[marca], "ubicacion":[ubicacion], "fecha_calibracion":[fecha_calibracion],"fecha_mmto":[fecha_mmto] ,"nombre_proveedor":[nombre_proveedor]}
    Data = pd.concat([Data, pd.DataFrame(nuevo_equipo)])
    return Data


def main():
    DataFrame_equipos = pd.DataFrame(columns=["nombre", "marca", "ubicacion", "fecha_calibracion" ,"fecha_mmto" ,"nombre_proveedor"])
    while True:
        R = int(input("""1. Agregar equipo
2. Ver equipos
R// """))
        if R == 1:
            print("ingrese los siguientes datos")
            nombre = input("Nombre: ")
            marca = input("Marca: ")
            ubicacion = input("Ubicación: ")
            fecha_calibracion = input("Fecha de calibración: ")
            fecha_mmto = input("Fecha de mantenimiento: ")
            nombre_proveedor = input("Nombre del proveedor: ")
            DataFrame_equipos = agregar_equipo(nombre, marca, ubicacion, fecha_calibracion ,fecha_mmto ,nombre_proveedor,DataFrame_equipos)
        elif R == 2:
            print(DataFrame_equipos)
        else:
            print("Valor no disponible")
if __name__ == "__main__":
    main()

In [ ]:
#Ejercicio 2
import pandas as pd
import matplotlib.pyplot as plt
import os
import warnings

warnings.filterwarnings("ignore", category=RuntimeWarning)#Advertencias que no sé de donde salieron xd

archivos = os.listdir("archive")
Df_s = {}
for i in archivos:
    ruta = os.path.join("archive", i)
    if os.path.isfile(ruta) and i.endswith('.csv'):
        DataFrame = pd.read_csv(f"archive/{i}", encoding="ISO-8859-1")
        Df_s[i] = DataFrame

Df_analisis = {}
keys = list(Df_s.keys())
for i in keys:
    a = Df_s[f"{i}"]
    b = pd.DataFrame(a.describe())
    Df_analisis[i] = b
    if not os.path.exists("Analisis"):
        os.makedirs("archive/Analisis", exist_ok=True)
    else:
        pass
    b.to_csv(f"archive/Analisis/analisis_{i}", encoding="ISO-8859-1")


keys_a = list(Df_analisis.keys())
print("""
count: Número de valores no nulos en la columna.
mean: Media aritmética de los valores.
std: Desviación estándar de los valores, que mide la cantidad de variación o dispersión de los datos.
min: Valor mínimo.
25%: Primer cuartil (Q1), el valor por debajo del cual se encuentran el 25% de los datos.
50%: Segundo cuartil (Q2) o mediana, el valor por debajo del cual se encuentran el 50% de los datos.
75%: Tercer cuartil (Q3), el valor por debajo del cual se encuentran el 75% de los datos.
max: Valor máximo.
""")
for i in keys_a:
    a = Df_analisis[f"{i}"]
    b = pd.DataFrame(a.describe())
    print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
    print(f"ANALISIS DE {i}")
    print("---------------")
    print(b.to_string())

count: Número de valores no nulos en la columna.
mean: Media aritmética de los valores.
std: Desviación estándar de los valores, que mide la cantidad de variación o dispersión de los datos.
min: Valor mínimo.
25%: Primer cuartil (Q1), el valor por debajo del cual se encuentran el 25% de los datos.
50%: Segundo cuartil (Q2) o mediana, el valor por debajo del cual se encuentran el 50% de los datos.
75%: Tercer cuartil (Q3), el valor por debajo del cual se encuentran el 75% de los datos.
max: Valor máximo.

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ANALISIS DE worldometer_data.csv
---------------
         Population    TotalCases     NewCases    TotalDeaths   NewDeaths  TotalRecovered  NewRecovered   ActiveCases  Serious,Critical  Tot Cases/1M pop  Deaths/1M pop    TotalTests   Tests/1M pop
count  8.000000e+00  8.000000e+00     8.000000       8.000000    8.000000    8.000000e+00      8.000000  8.000000e+00          8.000000          8.000000       8.000000  8.000000e+00       8.000000
mean   1.937865e+08  6.998503e+05  1877.076428   22899.221913  268.024939    3.644403e+05   1501.097475  3.129148e+05       2648.989007       6707.470062     228.964755  8.876847e+06  170732.869717
std    4.811153e+08  1.756678e+06  2273.952187   56776.567770  292.707449    8.981308e+05   1425.542351  8.021840e+05       6359.758695      13559.014951     413.874207  2.200527e+07  337511.662300
min    2.080000e+02  1.000000e+01     4.000000       1.000000    1.000000    7.000000e+00      3.000000  0.000000e+00          1.000000          3.000000       0.080000  6.100000e+01       4.000000
25%    7.249358e+05  5.862500e+02    25.625000      90.250000   31.125000    3.017500e+02    377.250000  1.752500e+02         21.437500        263.500000      23.250000  1.936175e+04    6765.125000
50%    1.639905e+07  2.069350e+04  1318.250000     487.000000  190.000000    1.136550e+04   1321.000000  4.011500e+03        141.125000       2105.512019      98.340588  4.466990e+05   58272.183246
75%    4.900314e+07  1.769355e+05  2739.152856    6716.239038  449.924878    1.083338e+05   2250.584852  6.440643e+04        912.674735       4179.309114     177.967647  2.440145e+06  107298.522810
max    1.381345e+09  5.032179e+06  6590.000000  162804.000000  819.000000    2.576668e+06   4140.000000  2.292707e+06      18296.000000      39922.000000    1238.000000  6.313960e+07  995282.000000
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ANALISIS DE full_grouped.csv
---------------
          Confirmed         Deaths     Recovered        Active     New cases    New deaths  New recovered
count  8.000000e+00       8.000000  8.000000e+00  8.000000e+00      8.000000      8.000000       8.000000
mean   5.628568e+05   23990.069574  2.448388e+05  3.692991e+05  14495.403911   4657.538711   20158.172431
std    1.506944e+06   51541.736943  6.476375e+05  9.892827e+05  28113.562196  12428.103115   50524.543022
min    0.000000e+00       0.000000  0.000000e+00 -2.000000e+00      0.000000  -1918.000000  -16298.000000
25%    1.877500e+02       3.000000  2.475000e+01  6.375000e+01      1.500000      0.000000       0.000000
50%    1.360344e+04     656.159119  6.167192e+03  6.369214e+03    272.181875      9.801670     144.657797
75%    6.386246e+04   14366.928766  4.250360e+04  4.885987e+04  11043.400655   1058.529764   10340.047889
max    4.290259e+06  148011.000000  1.846641e+06  2.816444e+06  77255.000000  35156.000000  140050.000000
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ANALISIS DE day_wise.csv
---------------
          Confirmed         Deaths     Recovered        Active      New cases   New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  Deaths / 100 Recovered  No. of countries
count  8.000000e+00       8.000000  8.000000e+00  8.000000e+00       8.000000     8.000000       8.000000            8.000000               8.000000                8.000000          8.000000
mean   4.503643e+06  216212.544353  2.302988e+06  1.993042e+06   83024.414316  3235.413765   63027.613555           27.289710              50.640012               52.966916        132.847130
std    5.537126e+06  230369.990983  3.177613e+06  2.181492e+06   94175.439592  3375.111673   94190.091712           64.965386              58.263095               68.640374         68.996708
min    1.880000e+02      17.000000  2.800000e+01  1.880000e+02       0.000000     0.000000       0.000000            1.579541               1.710000                6.260000          6.000000
25%    8.428200e+04    2998.250000  4.537794e+04  4.410881e+04    4223.375000   235.062500    1913.187500            3.142500              21.140290               13.947500         92.231495
50%    3.627847e+06  211059.547091  1.425393e+06  1.914715e+06   78204.646628  3008.280060   40676.757979            4.855319              35.011968               22.336414        164.175532
75%    5.424003e+06  277736.695479  2.825081e+06  2.479395e+06   98703.890957  4423.500000   61994.731859            6.518125              51.071250               52.614375        187.000000
max    1.648048e+07  654036.000000  9.468087e+06  6.358362e+06  282756.000000  9966.000000  284394.000000          188.000000             188.000000              188.000000        188.000000
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ANALISIS DE covid_19_clean_complete.csv
---------------
                Lat          Long     Confirmed         Deaths     Recovered        Active
count      8.000000      8.000000  8.000000e+00       8.000000  8.000000e+00  8.000000e+00
mean    6150.875823   6161.530372  5.606503e+05   25538.595446  2.448901e+05  3.688092e+05
std    17341.171743  17337.060432  1.507628e+06   52287.406174  6.476096e+05  9.894070e+05
min      -51.796300   -135.000000  0.000000e+00       0.000000  0.000000e+00 -1.400000e+01
25%       18.043561     12.481450  1.270000e+02       1.500000  2.175000e+01  1.950000e+01
50%       24.292410     46.985488  9.201577e+03     457.089580  4.290857e+03  4.345506e+03
75%       48.830010    105.095098  6.862605e+04   17002.188308  5.050123e+04  5.586573e+04
max    49068.000000  49068.000000  4.290259e+06  148011.000000  1.846641e+06  2.816444e+06
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ANALISIS DE country_wise_latest.csv
---------------
          Confirmed         Deaths     Recovered        Active     New cases   New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  Deaths / 100 Recovered  Confirmed last week  1 week change  1 week % increase
count  8.000000e+00       8.000000  8.000000e+00  8.000000e+00      8.000000     8.000000       8.000000            8.000000               8.000000                   7.000         8.000000e+00       8.000000           8.000000
mean   6.010674e+05   20832.002650  2.642119e+05  3.843562e+05   7991.104001   177.374299    4911.191559           28.625478              73.135404                     inf         5.368728e+05   64539.323447          59.264505
std    1.496302e+06   51612.714220  6.426368e+05  9.854129e+05  19629.425148   369.620714   11730.282632           64.664973              56.170029                     NaN         1.337423e+06  158829.348199          91.987080
min    1.000000e+01       0.000000  0.000000e+00  0.000000e+00      0.000000     0.000000       0.000000            0.000000               0.000000                   0.000         1.000000e+01     -47.000000          -3.840000
25%    8.822500e+02      85.625000  5.166250e+02  1.756250e+02     37.750000     0.750000      16.500000            1.848750              43.149424                   2.535         8.353750e+02     152.500000           5.861250
50%    2.275975e+04     460.500000  1.271050e+04  5.374500e+03    303.250000    17.478610     204.000000            3.236911              68.070267                   6.440         2.105025e+04    1802.000000          15.230602
75%    1.619279e+05    6148.139658  8.552066e+04  7.883300e+04   2344.811612   136.777880    1749.789534           10.046250              90.163750                     NaN         1.435803e+05   18959.126841          65.132378
max    4.290259e+06  148011.000000  1.846641e+06  2.816444e+06  56336.000000  1076.000000   33728.000000          187.000000             187.000000                     inf         3.834677e+06  455582.000000         226.320000
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ANALISIS DE usa_county_wise.csv
---------------
                UID          code3           FIPS            Lat          Long_      Confirmed         Deaths
count  8.000000e+00       8.000000       8.000000       8.000000       8.000000       8.000000       8.000000
mean   5.307071e+07   79022.123030  109377.605189   78516.785447   78444.380049  106985.320872   81467.440974
std    4.260117e+07  221788.540294  210850.586909  221992.423418  222021.699239  224540.101007  220952.585668
min    1.600000e+01      16.000000      60.000000     -14.271000    -174.159600       0.000000       0.000000
25%    3.393007e+06     634.991868   18968.289206      27.687083     -91.562583       3.000000       0.000000
50%    8.372384e+07     840.000000   32037.842342      37.354778     -85.456370     210.142142       9.268164
75%    8.403344e+07     842.500000   60348.000000      48.508500      52.705286   58628.212020    6100.743599
max    8.410000e+07  627920.000000  626040.000000  627920.000000  627920.000000  627920.000000  627920.000000

In [17]:
DataFrame = pd.read_csv(f"archive/country_wise_latest.csv")
DataFrame

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa